# WinMerge
*.bak
*.orig

# cmake
CMakeCache.txt
**/CMakeFiles

# gcc/make
Makefile
*.a
*.so

#Visual Studio
*.pdb

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
